Maps, Weather, & Distance Calculator/Consumer & Service/Consumer/App_WebReferences/MapService/MapService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddressAutoComplete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddressAutoCompleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddressAutoCompleteResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PlaceDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PlaceID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PlaceDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PlaceDetailsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddressAutoCompleteAndPlaceDetailsCombined">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddressAutoCompleteAndPlaceDetailsCombinedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddressAutoCompleteAndPlaceDetailsCombinedResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddressAutoCompleteSoapIn">
    <wsdl:part name="parameters" element="tns:AddressAutoComplete" />
  </wsdl:message>
  <wsdl:message name="AddressAutoCompleteSoapOut">
    <wsdl:part name="parameters" element="tns:AddressAutoCompleteResponse" />
  </wsdl:message>
  <wsdl:message name="PlaceDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:PlaceDetails" />
  </wsdl:message>
  <wsdl:message name="PlaceDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:PlaceDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="AddressAutoCompleteAndPlaceDetailsCombinedSoapIn">
    <wsdl:part name="parameters" element="tns:AddressAutoCompleteAndPlaceDetailsCombined" />
  </wsdl:message>
  <wsdl:message name="AddressAutoCompleteAndPlaceDetailsCombinedSoapOut">
    <wsdl:part name="parameters" element="tns:AddressAutoCompleteAndPlaceDetailsCombinedResponse" />
  </wsdl:message>
  <wsdl:portType name="MapServiceSoap">
    <wsdl:operation name="AddressAutoComplete">
      <wsdl:input message="tns:AddressAutoCompleteSoapIn" />
      <wsdl:output message="tns:AddressAutoCompleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PlaceDetails">
      <wsdl:input message="tns:PlaceDetailsSoapIn" />
      <wsdl:output message="tns:PlaceDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddressAutoCompleteAndPlaceDetailsCombined">
      <wsdl:input message="tns:AddressAutoCompleteAndPlaceDetailsCombinedSoapIn" />
      <wsdl:output message="tns:AddressAutoCompleteAndPlaceDetailsCombinedSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MapServiceSoap" type="tns:MapServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddressAutoComplete">
      <soap:operation soapAction="http://tempuri.org/AddressAutoComplete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlaceDetails">
      <soap:operation soapAction="http://tempuri.org/PlaceDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddressAutoCompleteAndPlaceDetailsCombined">
      <soap:operation soapAction="http://tempuri.org/AddressAutoCompleteAndPlaceDetailsCombined" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MapServiceSoap12" type="tns:MapServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddressAutoComplete">
      <soap12:operation soapAction="http://tempuri.org/AddressAutoComplete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlaceDetails">
      <soap12:operation soapAction="http://tempuri.org/PlaceDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddressAutoCompleteAndPlaceDetailsCombined">
      <soap12:operation soapAction="http://tempuri.org/AddressAutoCompleteAndPlaceDetailsCombined" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MapService">
    <wsdl:port name="MapServiceSoap" binding="tns:MapServiceSoap">
      <soap:address location="http://localhost:50855/MapService/MapService.asmx" />
    </wsdl:port>
    <wsdl:port name="MapServiceSoap12" binding="tns:MapServiceSoap12">
      <soap12:address location="http://localhost:50855/MapService/MapService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>